/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Así definimos el comportamiento de caja para todos los elementos */
* {
    box-sizing: border-box;
  }
  
/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
.columna {
float: left;
padding: 10px;
min-height: 500px;
}

.izquierda {
width: 30%;
}

.derecha {
width: 60%;
}

/* Clear floats despues de las columnas para eliminar la superposición */
.filla:after {
content: "";
display: table;
clear: both;
}


/* estilos para imágenes https://www.w3schools.com/css/css3_images.asp */
/* posicionamiento de imágenes https://www.w3schools.com/css/css_positioning.asp */

img {
    width: 100%;
    height: auto;
}

.iresponsive {
    padding: 0 6px;
    float: left;
    width: 50%;
  }

/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
}

/* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */

.seccion {
  margin-bottom: 20px; /* Espacio entre secciones */
  padding: 10px;
  border: 1px solid #ccc; /* Borde alrededor de cada sección */
  border-radius: 5px; /* Bordes redondeados */
}

body {
  background-image: url('iPhone\ Wallpapers\ 8\ Mario\ Kart!.jpeg');
  background-size: cover; /* Esto ajusta la imagen al tamaño del cuerpo */
  background-position: center; /* Esto centra la imagen */
  /* Puedes ajustar otros estilos según tus necesidades */
}

.titulo {
  text-align: center; /* Esto centra el texto horizontalmente */
  margin-top: 40px;
  text-decoration: underline
}
.centro {
  text-align: center; /* Esto centra el texto horizontalmente */
  margin-top: 50px;
}
.fondotxt {
  font-size: 16px;
  background-color: rgba(255, 30, 0, 0.5); /* Color de fondo para resaltar el texto */
  padding: 10px; /* Espacio alrededor del texto */
  /* Puedes ajustar otros estilos según tus necesidades */
}
.fondotxt1 {
  font-size: 16px;
  background-color: rgba(23, 99, 16, 0.5); /* Color de fondo para resaltar el texto */
  padding: 10px; /* Espacio alrededor del texto */
  /* Puedes ajustar otros estilos según tus necesidades */
}